.profile__title {
    color: #fff;
    margin: 0;
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .profile__title {
        font-size: 42px;
        line-height: 48px;
    }
}
