.popup__submit {
    font-family: 'Inter', Arial, sans-serif;
    margin-top: 45px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 2px;
    padding: 14px 0 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .popup__submit {
        margin-top: 48px;
    }
}
